$border-size: 1px;
$day-size: 100px;
$gap-size: 1px;
$padding-size: 10px;
$calendar-width: (($day-size * 7) + ($gap-size * 6) + ($padding-size * 2));
$week-days: (
  sun: 1,
  mon: 2,
  tue: 3,
  wed: 4,
  thu: 5,
  fri: 6,
  sat: 7,
);
